html { font-family: Roboto, sans-serif; 
       font-optical-sizing: auto;
       font-weight: 100;
       font-style: normal;
       font-variation-settings:
         "wdth" 100;
       }
body { background-color: #eceff1; 
       }

.show-data {
    width: 100%;
    background-color: #cfd8dc;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}
.show-data h1 { text-align: center; }
.show-data img { display: block; }
.show-info { 
    width: 100%;
}
@media (min-width: 801px) {
    .show-container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .show-data { 
        display: flex; 
        padding: 10px;
    }
    .show-info { padding: 10px; }
}
    
@media (max-width: 800px) {
    .show-data img { margin: auto; }
    .show-info p {
        text-align: center;
        padding: 10px;
    }
}